{% extends 'mysite/base.html' %}
{% load static %}

{% block content %}

<style>
    .no-gutter-card-deck.card-columns {
        column-gap: 8px;
    }

    .no-gutter-card-deck>.card {
        margin: 0 0 8px 0;
    }

    .card {
        border: none;
    }

    .card img {
        border: none;
        border-radius: 8px;
    }

    @media (min-width: 600px) {
        .card-columns {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
        }
    }

    img:hover {
        opacity: 1;
        -webkit-animation: flash 1.0s;
        animation: flash 1.0s;
    }

    @-webkit-keyframes flash {
        0% {
            opacity: .4;
        }

        100% {
            opacity: 1;

        }
    }

    @keyframes flash {
        0% {
            opacity: .4;
        }

        100% {
            opacity: 1;
        }
    }
</style>

<div class="container" style="margin-top: 50px; margin-bottom: 40px">

    <div class="card-columns no-gutter-card-deck">

        <div class="card">
            <a href="{% static 'mysite/images/029.jpg' %}">
                <img src="{% static 'mysite/images/029.jpg' %}" alt="029" style="width:100%">
            </a>
        </div>

        <div class="card">
            <a href="{% static 'mysite/images/030.jpg' %}">
                <img src="{% static 'mysite/images/030.jpg' %}" alt="030" style="width:100%">
            </a>
        </div>

        <div class="card">
            <a href="{% static 'mysite/images/031.jpg' %}">
                <img src="{% static 'mysite/images/031.jpg' %}" alt="031" style="width:100%">
            </a>
        </div>

        <div class="card">
            <a href="{% static 'mysite/images/032.jpg' %}">
                <img src="{% static 'mysite/images/032.jpg' %}" alt="032" style="width:100%">
            </a>
        </div>

        <div class="card">
            <a href="{% static 'mysite/images/033.jpg' %}">
                <img src="{% static 'mysite/images/033.jpg' %}" alt="033" style="width:100%">
            </a>
        </div>

        <div class="card">
            <a href="{% static 'mysite/images/011.jpg' %}">
                <img src="{% static 'mysite/images/011.jpg' %}" alt="011" style="width:100%">
            </a>
        </div>

    </div>

</div>

{% endblock %}