{% extends 'mysite/base.html' %}
{% load static %}

{% block content %}

<style>
    * {
        box-sizing: border-box;
    }

    h5 {
        font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif
    }

    p {
        font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif
    }

    a {
        font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif
    }

    img:hover {
        /* Start the shake animation and make the animation last for 0.5 seconds */
        animation: shake 0.5s;

        /* When the animation is finished, start again */
        animation-iteration-count: infinite;
    }

    @keyframes shake {
        0% {
            transform: translate(1px, 1px) rotate(0deg);
        }

        10% {
            transform: translate(-1px, -2px) rotate(-1deg);
        }

        20% {
            transform: translate(-3px, 0px) rotate(1deg);
        }

        30% {
            transform: translate(3px, 2px) rotate(0deg);
        }

        40% {
            transform: translate(1px, -1px) rotate(1deg);
        }

        50% {
            transform: translate(-1px, 2px) rotate(-1deg);
        }

        60% {
            transform: translate(-3px, 1px) rotate(0deg);
        }

        70% {
            transform: translate(3px, 1px) rotate(-1deg);
        }

        80% {
            transform: translate(-1px, -1px) rotate(1deg);
        }

        90% {
            transform: translate(1px, 2px) rotate(0deg);
        }

        100% {
            transform: translate(1px, -2px) rotate(-1deg);
        }
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 0;
    }

    /* Create four equal columns that sits next to each other */
    .column {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
    }

    .column img {
        margin-bottom: 8px;
        vertical-align: middle;
        border-radius: 8px;
    }

    /* Responsive layout - makes a three column-layout instead of four columns */
    @media (max-width: 1000px) {
        .column {
            flex: 33.3%;
            max-width: 33.3%;
        }
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media (max-width: 800px) {
        .column {
            flex: 50%;
            max-width: 50%;
        }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media (max-width: 600px) {
        .column {
            flex: 100%;
            max-width: 100%;
        }
    }
</style>

<div class="container" style="margin-top: 50px; margin-bottom: 40px">
    <div class="row">

        <div class="column">
            <a href="{% static 'mysite/images/parallel/001.jpg' %}">
                <img src="{% static 'mysite/images/parallel/001.jpg' %}" alt="001" style="width:100%">
            </a>
            <a href="{% static 'mysite/images/parallel/002.jpg' %}">
                <img src="{% static 'mysite/images/parallel/002.jpg' %}" alt="002" style="width:100%">
            </a>
        </div>

        <div class="column">
            <a href="{% static 'mysite/images/parallel/003.jpg' %}">
                <img src="{% static 'mysite/images/parallel/003.jpg' %}" alt="003" style="width:100%">
            </a>
            <a href="{% static 'mysite/images/parallel/004.jpg' %}">
                <img src="{% static 'mysite/images/parallel/004.jpg' %}" alt="004" style="width:100%">
            </a>
        </div>

        <div class="column">
            <a href="{% static 'mysite/images/parallel/005.jpg' %}">
                <img src="{% static 'mysite/images/parallel/005.jpg' %}" alt="005" style="width:100%">
            </a>
            <a href="{% static 'mysite/images/parallel/006.jpg' %}">
                <img src="{% static 'mysite/images/parallel/006.jpg' %}" alt="006" style="width:100%">
            </a>
        </div>

        <div class="column">
            <a href="{% static 'mysite/images/parallel/007.jpg' %}">
                <img src="{% static 'mysite/images/parallel/007.jpg' %}" alt="007" style="width:100%">
            </a>
            <a href="{% static 'mysite/images/parallel/008.jpg' %}">
                <img src="{% static 'mysite/images/parallel/008.jpg' %}" alt="008" style="width:100%">
            </a>
        </div>

    </div>
</div>

{% endblock %}