{% extends 'mysite/base.html' %}
{% load static %}

{% block content %}

<style>

</style>

<div class="container" style="margin-top: 50px; margin-bottom: 40px">

    <div class="row" style="margin-bottom: 20px">

        <div class="col">
            <img src="{% static 'mysite/images/parallel/001.jpg' %}" width="100%" alt="image">
        </div>

        <div class="col">
            <img src="{% static 'mysite/images/parallel/002.jpg' %}" width="100%" alt="image">
        </div>

        <div class="col">
            <img src="{% static 'mysite/images/parallel/003.jpg' %}" width="100%" alt="image">
        </div>

    </div>

    <div class="row" style="margin-bottom: 20px">

        <div class="col">
            <img src="{% static 'mysite/images/parallel/004.jpg' %}" width="100%" alt="image">
        </div>

        <div class="col">
            <img src="{% static 'mysite/images/parallel/005.jpg' %}" width="100%" alt="image">
        </div>

        <div class="col">
            <img src="{% static 'mysite/images/parallel/006.jpg' %}" width="100%" alt="image">
        </div>

    </div>

    <div class="row" style="margin-bottom: 20px">

        <div class="col">
            <img src="{% static 'mysite/images/parallel/007.jpg' %}" width="100%" alt="image">
        </div>

        <div class="col">
            <img src="{% static 'mysite/images/parallel/008.jpg' %}" width="100%" alt="image">
        </div>

        <div class="col">
            <img src="{% static 'mysite/images/parallel/009.jpg' %}" width="100%" alt="image">
        </div>

    </div>
</div>

{% endblock %}