{% extends 'mysite/base.html' %}
{% load static %}

{% block content %}

<style>
    h4 {
        font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif
    }

    h5 {
        font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif
    }

    h6 {
        font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif
    }

    p {
        font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
        text-align: justify;
        text-indent: 30px;
    }

    pre {
        font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
    }
</style>

<div class="container" style="margin-top: 50px; margin-bottom: 40px">

    <h6>声明：同人文由网友提供</h6>
    <br>

    <h4>档案</h4>
    <h6>人物：方敏</h6>
    <h6>时间地点：1950年 大年初二 香港</h6>
    <hr>

    <p>
        胸口的疼痛如同潮水般袭来，让方敏不由自主的吐了一口气。“…哈…”，“你醒了？”一道妩媚的声音传入方敏的耳中，是谁救了她？那个人有什么目的？混乱的思绪在方敏的脑海中乱窜，恍惚间她似乎觉得这个声音有点耳熟，仿佛在哪里听过一般，她努力颤抖着想睁开双眼，看看那人到底是谁，然而虚弱的身体让这原本非常简单的事情变得困难无比。一直矗立在床边的身影似乎并不在意方敏的小动作，她撑着床沿俯下身子，慢慢地靠近方敏，她自顾自地说到“你很幸运……又或许是高源真的大意了”，她伸出手，拨开方敏额头上被冷汗浸湿的秀发，“那几刀都没有刺中要害，如果我没来，你或许只是失血而死罢了，”她的声音中似乎带着一丝失落，“不过这...也是一种痛苦的死法。”声音中又有了一点愉悦，似乎是想起了什么有趣的事。
    </p>
    <p>
        方敏感觉到那只冰冷的手沿着自己的脸庞慢慢滑落，如同抚摸般轻柔，但多年的特工生涯让她能感受到，在轻柔的背后蕴含着一丝杀意，感受到生命受到威胁，方敏的身体里猛地涌现出了一股力量，她张开了自己的眼睛，“飞……鹰！”方敏睁大了双眼，眼前这个人不应该出现在这里，不应该出现在香港。“是的……我不应该在香港”，‘飞鹰’仿佛看穿了方敏心中所想，“但是...有个人跟我说过...让我照顾好你。”‘飞鹰’说话间顿了顿，仿佛陷入了回忆。方敏努力的睁着双眼看着眼前所谓共事已久的‘同事’，在方敏的印象中‘飞鹰’是一位战功赫赫，功勋卓著的国党特务，她的脸上总是会带着妩媚诱人的微笑，就算自己是个女人，也不禁会陷入几分，但是今天...似乎有些不同了，哪里不同？是她的笑容，那笑容...就像画上去的一样...‘飞鹰’沉默了片刻，好像是做出了什么决定，她起身离开，临走前依旧妩媚地说道，“好了，时间不早了，我该走了”，“书...你自己拿给他”，“而在那之前，我希望你能...好好活着。”方敏看着‘飞鹰’离开的身影，那本是英姿飒爽的，却在转过身的一刹那，显得有些孤寂...
    </p>

    <br>
    <h4>后记</h4>
    <hr>
    <p>
        与你重逢的方敏，带着你找到了藏在济仁图书馆内的《容斋六笔》。看着书中资料上熟悉的笔迹，你不禁感叹道你是何等的幸运。一旁的方敏似乎有些羞涩，微微侧过头去。这一刻你再也控制不住自己，将手中的资料放在了一旁，抱住了眼前的爱人，深深的吻了下去。有了这份伪造的真实资料，你和方敏都被组织认定为功勋卓著的革命英雄。但是为了保护你们的安全，组织将你们先安置在了延安附近的一个小村落。来到这个村子后，你发现村子里，还有不少往日的熟面孔。左邻右舍里，住西边的是“汉奸”，住东边的是“军统”。平日里遇见了也不说破，偶尔互相骂上两句，也就是哈哈一笑的事。不久之后，你便与方敏结婚了。
    </p>
    <p>
        转眼十几年过去了，你们陆陆续续地便有了两子一女。闲暇时你就带着子女与村子里其他孩子一起，读书写字，打发时光。虽说有些平平淡淡，但对于你来说，这便是极致的享受。1982年，组织开始陆续地恢复着你们这些人的名誉地位，并给予了一定的经济补偿。村子里的村民们也开始陆陆续续的搬去了自己想去的地方。你与家人商量过后，决定向组织申请返回上海，回到那个你最熟悉的地方。又过了几年，你的妻子方敏成为了济仁大学文学系的一名教授，每天教书育人，诲人不倦。老大一心从医，发誓要治好你的腿伤，如今成为了一名外科主治医师，活人无数。老二性格活泼，下海经商，眼光独到，人脉宽广，很快便腰缠万贯。你则经常劝他，要多种善因，与人为善，不能害了老百姓的利益。老二倒也听话，成为了上海有名的慈善家。小女儿则刚刚考上济仁大学文学系，说是以后要接妈妈的班，当一名老师。而你则偶尔会呆在家里，含饴弄孙。偶尔写点自己喜欢的文章，发表出去。偶尔也会出去走走，去方汉州老师的墓前看看，时不时的跟他说上两句。慢慢的你把烟戒了。
    </p>
    <p>
        又是一年三月春分，阳光正好。早上正待在家里的你，忽然兴致所起，兴致冲冲地拉着正在一旁备课的妻子出门而去。被你拉着走的妻子，一边看着手里的教案，一边抱怨着下午还要上课。可没时间陪你发疯。你没有理会她，继续向前走着。见拗不过你，她便听之任之，一门心思放在手里的教案上。走着走着，她忽然觉得你停了下来，便抬头看看走到了哪里。你们似乎在一间图书馆内，摆在面前的，是两个面对面，却再也普通不过的位置。由于是早上，图书馆内没什么人，周围的位置也都还空着在，但她好像明白了什么，羞恼的白了你一眼，而你则看着她，傻傻的笑着。或许是出于没有办法，她将手中的教案放在了桌上，熟悉地调整着座椅的位置，让窗外的阳光恰好打在她的侧面，温暖而不刺眼，然后专心地准备着下午的课程。而你也随意地拿了一本书，摊开在面前，正所谓‘书山有路，学海无涯’，三月的风儿也知道像你这样活到老学到老是值得尊敬的，于是便好心的帮你翻着书。而你却并不领情，什么黄金屋、颜如玉，似乎都比不过你眼前的光景，你看着看着，便痴痴地笑了出来。
    </p>
    <p style="text-indent:0">
        “肖途，你的字写得真好看，你看我学的像不像？”<br>“你写的比我好看，字如其人。”<br>“呆子。”
    </p>

</div>

{% endblock %}