{% extends 'mysite/base.html' %}
{% load static %}

{% block content %}

<style>
    img:hover {
        opacity: 0.7
    }
</style>

<div class="container" style="margin-top: 50px; margin-bottom: 40px">

    <div class="card-deck">

        <div class="row">

            <div class="col">
                <div class="card">
                    <a href="{% url 'carousel1' %}">
                        <img class="card-img-top" src="{% static 'mysite/images/004.jpg' %}" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">你的字写得真好看</h5>
                        <p class="card-text">"肖途，你的字写得真好看，你看，我学得像不像。" "你写得比我好看，字如其人。" "呆子。"
                        </p>
                        <a href="{% url 'video1' %}" class="btn btn-secondary btn-sm">观看视频</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="{% static 'mysite/images/007.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">连我都不能说吗</h5>
                        <p class="card-text">"到底发生了什么，连我都不能说吗？" "事情都已经过去了，问那么多干嘛。" "你变了。"
                        </p>
                        <a href="{% url 'video2' %}" class="btn btn-secondary btn-sm">观看视频</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <a href="{% url 'album3' %}">
                        <img class="card-img-top" src="{% static 'mysite/images/008.jpg' %}" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">军统第一女魔头</h5>
                        <p class="card-text">"都说得罪谁也不要得罪女人，看来这话说的没错啊，真不愧是我们保密局心狠毒辣的第一女魔头。"
                        </p>
                        <a href="{% url 'video3' %}" class="btn btn-secondary btn-sm">观看视频</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" style="margin-top: 20px">

            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="{% static 'mysite/images/009.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">撑油纸伞的姑娘</h5>
                        <p class="card-text">撑着油纸伞，独自彷徨在悠长，悠长，又寂寥的雨巷，我希望逢着一个丁香一样地，结着愁怨的姑娘。
                        </p>
                        <a href="{% url 'video4' %}" class="btn btn-secondary btn-sm">观看视频</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="{% static 'mysite/images/010.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">小时候的我</h5>
                        <p class="card-text">"你以后是军统的人，谁还敢瞧不起？"
                            "小时候的我啊，我不想让小时候的我瞧不起长大的我，虽然没有成为故事里的英雄，也没有成为某人的新娘，但我活得堂堂正正，那个小姑娘应该没有失望吧，你说呢？"
                        </p>
                        <a href="{% url 'video5' %}" class="btn btn-secondary btn-sm">观看视频</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="{% static 'mysite/images/011.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">温暖的雨点</h5>
                        <p class="card-text">
                            子弹如雨点般密集，却没有雨点的温柔，有人在哭喊着什么，但我已经听不见了，突然间，枪雨消失了，取而代之的是数滴温暖的雨点，所以我脑海中涌出了最后一个问题，这雨点，是她的鲜血，还是她的眼泪？
                        </p>
                        <a href="{% url 'video6' %}" class="btn btn-secondary btn-sm">观看视频</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

{% endblock %}