{% extends 'mysite/base.html' %}
{% load static %}

{% block content %}
<div class="container" style="margin-top: 100px">
    <div class="card-deck">

        <div class="card">
            <img class="card-img-top" src="{% static 'mysite/images/004.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">你的字写得真好看</h5>
                <p class="card-text">“肖途，你的字写得真好看，你看，我学得像不像。”
                    “你写得比我好看，字如其人。”
                    “呆子。”
                </p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="{% static 'mysite/images/007.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">连我都不能说吗</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional
                    content.</p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="{% static 'mysite/images/008.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">军统第一女魔头</h5>
                <p class="card-text">“都说得罪谁也不要得罪女人，看来这话说的没错啊，真不愧是我们保密局心狠毒辣的第一女魔头。”
                </p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="{% static 'mysite/images/009.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">撑油纸伞的姑娘</h5>
                <p class="card-text">撑着油纸伞，独自彷徨在悠长，悠长，又寂寥的雨巷，我希望逢着一个丁香一样地，结着愁怨的姑娘。
                </p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}