{% extends 'mysite/base.html' %}
{% load static %}

{% block content %}
<div class="container" style="margin-top: 100px">
    <iframe width="720" height="405" src="//player.bilibili.com/player.html?aid=41515020&cid=72906902&page=1"
        scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true">
    </iframe>
    <br />
    <iframe width="720" height="405" src="//player.bilibili.com/player.html?aid=44660015&cid=78171951&page=1"
        scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true">
    </iframe>
</div>

{% endblock %}